{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-prettier"
  ],
  "processors": [
    "@mapbox/stylelint-processor-arbitrary-tags"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "order/order": [
      "custom-properties",
      "declarations"
    ],
    "order/properties-alphabetical-order": true,
    "no-empty-source": null
  }
}
